   
  center {
      text-align: center;
    }
    .paper13 h2,
    h3,
    h4,
    .content13 p {
      color: black;
    }
    .grey {
      color: black;
    }
    .paper13 h3 {
      padding-top: 10px;
      padding-bottom: 3px;
      font-size: 17px;
    }
    .paper13 h4 {
      font-size: 15px;
    }
    .paper13 p {
      font-size: 14px;
      margin-bottom: 40px;
      line-height: 18px;
      color: black;
    }
    .paper13 {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      background-color: #d2d3d6;
      padding: 50px;
      margin-top: 45px;
      box-shadow: -10px 40px 37px 5px #342e5e;
    }
    .paper2 {
      background-color: #e2e2e4;
    }
    
    .contact13 {
      display: inline-block;
      width: 70px;
      text-align: center;
      height: 1070px;
      vertical-align: top;
      padding-top: 440px;
    }
    .contact13 li {
      padding-top: 34px;
      padding-bottom: 34px;
    }
    .contact13 h3.grey {
      writing-mode: vertical-rl;
      color: #101717;
      padding-top: 70px;
      padding-bottom: 40px;
      padding-left: 5px;
    }
    .content13 {
      display: inline-block;
    }
    .left13 {
      display: inline-block;
      width: 270px;
      padding: 20px;
      box-sizing: border-box;
      margin-right: 5px;
      border-left: solid 2px #a8adb0;
      box-sizing: border-box;
      height: 1070px;
      vertical-align: top;
    }
    .left13 h2 {
      padding-top: 20px;
      line-height: 35px;
      letter-spacing: 2px;
      font-size: 27px;
    }
    .right13 {
      display: inline-block;
      width: 370px;
      box-sizing: border-box;
      height: 1070px;
    }
    
    .colorbox2 {
      background-color: #93a0a8;
      position: absolute;
      top: 447px;
      left: 347px;
      width: 26px;
      height: 90px;
    }
    .colorbox3 {
      position: absolute;
      top: 410px;
      left: 130px;
    }
    .year h4 {
      display: inline-block;
    }
    .year .info {
      display: inline-block;
      width: 230px;
      font-size: 14px;
      vertical-align: middle;
      height: auto;
      margin-left: 14px;
    }
    .rate {
      vertical-align: middle;
      height: auto;
      display: inline-block;
    }
    .bigo {
      width: 12px;
      height: 12px;
      margin: 0px 3px;
      border-radius: 100%;
      background-color: #93a0a8;
      display: inline-block;
    }
    .smlo {
      width: 8px;
      height: 8px;
      margin: 2px 5px;
      border-radius: 100%;
      background-color: #4b4b4d;
      display: inline-block;
    }
    .skill {
      margin-top: 5px;
      height:auto;
      vertical-align:bottom;
    }
    .software {
      display: inline-block;
      width: 80px;
      height: 120px;
      text-align: center;
      position: relative;
  
    }
    .software h4 {
      display: block;
    }
    .pie {
      width: 70px;
      height: 70px;
      background-color: #93a0a8;
      overflow: hidden;
      border-radius: 100%;
      position: absolute;
      left: 8px;
    }
    .cutpie1 {
      width: 70px;
      height: 70px;
      background-color: rgb(36, 39, 113);
      position: absolute;
      transform-origin: bottom right;
      transform: rotate(0deg);
      left: 35px;
      top: -35px;
    }
    .cutpie2 {
      width: 70px;
      height: 70px;
      background-color: rgba(69, 73, 173, 1);
      position: absolute;
      transform-origin: bottom right;
      transform: rotate(30deg);
      left: 26px;
      top: 1px;
    }
    .cutpie2s {
      width: 70px;
      height: 70px;
      background-color: rgba(69, 73, 173, 1);
      position: absolute;
      transform-origin: bottom right;
      transform: rotate(150deg);
      left: -35px;
      top: -34px;
    }
    .cutpie3 {
      width: 70px;
      height: 70px;
      background-color: rgba(69, 73, 173, 1);
      position: absolute;
      transform-origin: bottom left;
      transform: rotate(240deg);
      left: 35px;
      top: -35px;
    }
    .software h4 {
      padding-top: 60px;
    }
    .skill h3 {
      vertical-align: middle;
      height: auto;
      margin-top:-30px;
    }
    .skillgroup {
      display: inline-block;
      text-align: right;
      width: 250px;
      vertical-align: middle;
      height: auto;
      margin-left: 0px;
    }
    @media screen and (max-width: 1024px) {
      .paper13 {
        width: 90%;
        padding: 20px;
      }
    
      .left13, .right13 {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-left: none;
        padding: 0;
      }
    
      .contact13, .left13 {
        width: 100%;
        padding-top: 20px;
        text-align: center;
      }
    
      .contact13 li {
        padding: 20px 0;
      }
    
      .year .info {
        width: auto;
        margin-left: 0;
        display: block;
        text-align: center;
        padding-top: 10px;
      }
    
      .year h4 {
        display: block;
        text-align: center;
        padding-top: 10px;
      }
    }
    
    @media print {
      .colorbox2,
      .colorbox3 {
        display: none;
      }
    
      .contact13,
      .left13,
      .right13 {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-left: none;
        padding: 0;
      }
    
      .paper13 {
        width: 90%;
        padding: 20px;
      }
    }