.resume-container35 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjusted for responsiveness */
  max-width: 800px; /* Maximum width */
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container35 {
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  margin-bottom: 40px;
}

.profile-image35 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 5px  solid #d0cfcf;
}

.header35 {
  background-color: #d0cfcf;
  padding: 20px;
  width: 500px;
  height: 110px;
  border-radius: 10px;
  flex-grow: 1;
  margin-bottom: 20px; 
}

.header35 h1 {
  margin: 10px 0 5px;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.header35 h2 {
  margin: 0;
  font-size: 18px;
  color: black;
}

.content-container35 {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}

.sidebar35 {
  flex: 1;
  padding: 20px;
  background: #d0cfcf;
  margin-right: 20px;
  border-radius: 10px;
}

.main-content35 {
  flex: 2;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info35 {
  margin-bottom: 20px;
}

.contact-item35 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icon35 {
  margin-right: 10px;
  font-size: 16px;
}

.section35 {
  margin-bottom: 20px;
}

.section-title35 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list35 {
  padding-left: 20px;
}

.list-item35 {
  margin-bottom: 10px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .resume-container35 {
    padding: 10px;
  }

  .header35 {
    width: 100%; /* Full width */
    max-width: 100%; /* Adjust maximum width */
  }

  .sidebar35 {
    flex: 1;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-content35 {
    flex: 1;
    margin-right: 0;
  }
}

@media print {
  .resume-container35 {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    box-shadow: none;
  }

  .header35 {
    background-color: transparent;
    padding: 10px;
    border-radius: 0;
  }

  .sidebar35,
  .main-content35 {
    background: transparent;
    box-shadow: none;
    margin-right: 0;
    padding: 10px;
    border-radius: 0;
  }

  .contact-item35 {
    display: block;
    margin-bottom: 5px;
  }
}
