
.resume15 {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    background: #f5f5f5;
    padding: 20px;
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 800px;
  }
  
  .left15 {
    flex: 1;
    margin-right: 20px;
  }
  
  .right15 {
    flex: 2;
  }
  
  .card15 {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header15 {
    display: flex;
    align-items: center;
  }
  
  .header15 .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .header15 h1 {
    margin-bottom: 5px;
    color: #333333;
  }
  
  .header15 p {
    color: #666666;
  }
  
  .contact15 a {
    color: #007bff;
    text-decoration: none;
  }
  
  .skills15 ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills15 li {
    margin-bottom: 5px;
  }
  
  .experience-item15 {
    margin-bottom: 20px;
  }
  
  .footer15 {
    margin-top: 20px;
    color: #666666;
    text-align: center;
  }
  
  /* Media Query for Mobile Screens */
  @media only screen and (max-width: 768px) {
    .resume15 {
      flex-direction: column;
      width: 90%;
      margin: 20px auto;
      padding: 10px;
    }
  
    .left15,
    .right15 {
      width: 100%;
      margin: 0;
    }
  
    .header15 .profile-img {
      width: 120px;
      height: 120px;
    }
  }
  @media print {
    .resume15,
    .header15 .profile-img {
      display: none;
    }
  
    .card15 {
      background-color: transparent;
      box-shadow: none;
      page-break-inside: avoid;
    }
  
    
    body {
      font-size: 12px;
      line-height: 1.5;
      color: #333333;
    }
  
    h1, h2, h3 {
      color: #333333;
    }
  
    p {
      color: #666666;
    }
  
    a {
      color: #007bff;
      text-decoration: none;
    }
  
    ul, li {
      list-style-type: none;
      padding: 0;
    }
  }
    