
:root{
    --hrtag:#333;
}

.resume10 {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.header10 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-left10 {
    flex: 1;
}

.header-right10 {
    flex: 1;
    text-align: right;
}

.header10 h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.header10 p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 5px;
}
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.job, .degree {
    margin-bottom: 15px;
}

.job h3, .degree h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #555;
}

.job p, .degree p {
    font-size: 1.1em;
    color: #777;
}

.skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 8px 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #f0f0f0;
    border-radius: 20px;
    font-size: 1.1em;
    color: #333;
}


@media (max-width: 600px) {
    .resume {
        padding: 10px;
    }
    header {
        flex-direction: column;
        text-align: center;
    }
    .header-right {
        text-align: center;
        margin-top: 10px;
    }
}
.hrtag{
    background-color:var(--hrtag);
    color: #fff;
    padding: 5px;
    text-align: center;
}